@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem;
  background-image: linear-gradient(to right bottom, #f7971e, #ffd200);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: visible; }

::selection {
  background-color: #f7971e;
  color: #fff; }

@font-face {
  font-family: "Cassannet";
  src: url("./fonts/cassannet/cassannet.eot");
  src: url("./fonts/cassannet/cassannet.woff") format("woff"), url("./fonts/cassannet/cassannet.ttf") format("ttf"), url("./fonts/cassannet/cassannet.woff2") format("woff2"), url("./fonts/cassannet/cassannet.svg#filename") format("svg"); }

body {
  font-family: "Cassannet";
  line-height: 2; }

.heading-primary {
  backface-visibility: hidden;
  text-transform: uppercase;
  color: #ffffff; }
  .heading-primary--main {
    animation: slideInLeft 1s ease-out;
    display: block;
    font-size: 6rem;
    letter-spacing: 3.5rem; }
  .heading-primary--sub {
    animation: slideInRight 1s ease-out;
    display: block;
    font-size: 2rem;
    letter-spacing: 1.75rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.post-preview {
  min-height: 40rem;
  width: 75%;
  padding-bottom: 7rem;
  border-radius: 0.3rem; }
  .post-preview__header {
    font-size: 2rem;
    margin-bottom: 2rem;
    background-image: linear-gradient(to right, #f7971e, #ffd200);
    -webkit-background-clip: text;
    color: transparent;
    width: 40%;
    margin-left: 0; }
  .post-preview__body {
    font-size: 1.2rem;
    width: 40%;
    margin-left: 0; }
  .post-preview__media-link a {
    font-size: 1.5rem;
    color: #f7971e; }
    .post-preview__media-link a:hover {
      background-image: linear-gradient(to right, #f7971e, #ffd200);
      color: #fff;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      transform: translateY(-2px); }
  .post-preview__media-info {
    font-size: 1.2rem; }
  .post-preview__media-date {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    background-image: linear-gradient(to right, #f7971e, #ffd200);
    -webkit-background-clip: text;
    color: transparent;
    width: 40%;
    margin-left: 0; }

.post__content {
  padding: 0 20rem;
  position: relative; }

.post__header {
  font-size: 5rem;
  background-image: linear-gradient(to right, #f7971e, #ffd200);
  -webkit-background-clip: text;
  color: transparent; }
  .post__header-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%; }
  .post__header-image {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom: 1px solid #f7971e; }

.post__media-info {
  margin-top: 5rem;
  margin-bottom: 5rem;
  color: #777; }

.post__media-author {
  border-bottom: 1px solid #f7971e;
  margin-bottom: 3rem;
  font-size: 2rem; }

.post__media-date {
  font-size: 1.5rem; }

.post__text {
  font-size: 1.2rem;
  color: #333;
  border-bottom: 1px solid #f7971e;
  padding-bottom: 3rem; }

.post__footer {
  margin-top: 3rem;
  padding: 0 20rem;
  display: flex;
  justify-content: space-between; }
  .post__footer-icon {
    height: 4rem;
    width: 4rem; }

.post__share-button {
  display: inline-block;
  cursor: pointer; }
  .post__share-button:focus {
    outline: none; }

.nav {
  color: #fff;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  width: 100%;
  padding: 0 5rem; }
  .nav__brand-link {
    color: #fff;
    text-decoration: none; }
  .nav__brand-logo {
    font-size: 2.9rem; }
  .nav__link > a {
    font-size: 2.9em;
    text-decoration: none;
    color: #fff; }
  .nav__link:not(:last-child) {
    margin-right: 2rem; }
  .nav__links {
    list-style: none;
    display: flex; }

.blog-posts {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .blog-posts:last-child {
    margin-bottom: 5rem; }

.header__text-box {
  text-align: center;
  margin-bottom: 10rem; }

.card {
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  padding: 4rem 7rem;
  background-color: #f7f7f7;
  margin-bottom: 5rem; }

.react-router-modal__backdrop {
  background-color: rgba(0, 0, 0, 0.8) !important;
  height: calc(100vh - 10rem);
  overflow-y: scroll; }

.react-router-modal__modal {
  border: none !important;
  width: 75vw;
  height: calc(100vh - 10rem);
  overflow-y: scroll; }
