.post {
  &__content {
    padding: 0 20rem;
    position: relative;
    @include respond(phone-only) {
      padding: 0 3rem;
    }
  }
  &__header {
    font-size: 5rem;

    background-image: linear-gradient(
      to right,
      $color-primary,
      $color-secondary
    );
    -webkit-background-clip: text;
    color: transparent;

    @include respond(phone-only) {
      font-size: 3rem;
      word-break: keep-all;
    }

    &-container {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(255, 255, 255, 0.9);
      width: 100%;
      @include respond(phone-only) {
        position: relative;
        transform: none;
        position: relative;
        top: 0;
        left: 0;
        padding: 2rem;
        padding-bottom: 2rem;
      }
    }
    &-image {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }
  }
  &__media {
    &-info {
      margin-top: 5rem 0;
      color: $color-grey-dark;
      @include respond(phone-only) {
        margin: 1rem 0;
      }
    }
    &-author {
      border-bottom: 1px solid $color-primary;
      margin-bottom: 3rem;
      font-size: 2rem;
    }
    &-date {
      font-size: 1.5rem;
    }
    &-fancy {
      margin: 2rem 0;
      &--container {
        display: flex;
        justify-content: center;
      }
    }
    &-gallery {
      display: flex;
      justify-content: space-around;
    }
  }
  &__text {
    font-size: 1.2rem;
    color: $color-grey-dark-3;
    border-bottom: 1px solid $color-primary;
    padding-bottom: 3rem;
  }

  &__footer {
    margin-top: 3rem;
    padding: 0 20rem;
    display: flex;
    justify-content: space-between;

    @include respond(phone-only) {
      flex-direction: column;
      padding: 0 3rem;
      align-items: center;
      justify-content: space-around;
    }

    &-social {
      @include respond(phone-only) {
        display: flex;
        justify-content: center;
      }
    }
    &-icon {
      height: 4rem;
      width: 4rem;
      @include respond(phone-only) {
        margin: 0 2rem;
      }
    }
  }
  &__share-button {
    display: inline-block;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}
